<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
  <title>Vue Test</title>
</head>
<body>
  <div id="app">
    <!-- 문제 풀기 -->
    <section class="create-form" v-if="create == true">
      <h1>
        <i class="im im-quote-left"></i>
        아재력 뽐내기
        <i class="im im-quote-right"></i>
      </h1>
      <form>
        <label class="label" for="question">문제</label>
        <input class="input" type="text" name="question" v-model="question" required>
        <label class="label" for="answer">답</label>
        <input class="input" type="text" name="answer" v-model="answer" required>
        <label class="label" for="hint">힌트</label>
        <input class="input" type="text" name="hint" v-model="hint" required>
        <button class="add-btn" v-on:click="createQuiz()">문제 추가하기</button>
      </form>
    </section>
    <section v-else>
      <button v-on:click="prevQ()" class="prev-btn">
        <i class="im im-angle-left"></i>
      </button>
      <section class="contents">
        <h1>
          <i class="im im-quote-left"></i>
          아재 모의고사
          <i class="im im-quote-right"></i>
        </h1>
        <p id="Q">Q: {{ quiz_list.question }}</p>
        <input type="text" v-model="answer" class="answer" />
        <button class="btn" id="myBtn" v-on:click="sendToServer()" v-bind:value="answer">정답 확인</button>
        <button class="btn hint" v-on:click="showHint()">힌트 보기</button>
        <p>
          <a href="#" v-on:click="createQuizForm()">~m*0*m~ 아재력 뽐내러 가기 ♥3♥</a>
        </p>
      </section>
      <button v-on:click="nextQ()" class="next-btn">
        <i class="im im-angle-right"></i>
      </button>

      <!--  -->
      <div id="myModal" class="modal">
        <div class="modal-content" v-if="result.next == true">
          <h1>{{ result.check }}!</h1>
          <h3>올ㅋ 님, bottle의 神력 쩌는 듯? ㅊㅋㅊㅋ</h3>
          <button class="close" v-on:click="nextQ()">다음 문제 보기</button>
        </div>
        <div class="modal-content" v-else>
          <h1>{{ result.check }}..</h1>
          <h3>그러나 낙심하지마세요! 틀리는 것이 정상입니다 :)</h3>
          <button class="close">다시 풀어 보기</button>
        </div>
      </div>
    </section>
  </div>
</body>
<script src="../static/js/app.js"></script>
<script>
  //** 모달 **//
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var close = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }
  close.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>
</html>
