<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Vue Test</title>
</head>
<body>
  <div id="app">
    <h1>아재 모의고사</h1>
    <p id="Q">Q. {{ quiz_list.question }}</p>
    <button v-on:click="prevQ()">이전 문제</button>
    <input type="text" v-model="answer" />
    <button v-on:click="sendToServer()" v-bind:value="answer">정답 확인</button>
    <button v-on:click="showHint()">힌트 보기</button>
    <!-- <button v-on:click="" style="display: none">정답 보기</button> -->
    <button v-on:click="nextQ()">다음 문제</button>
  </div>
</body>
<script src="../static/js/app.js"></script>
</html>
