<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Vue Test</title>
</head>
<body>
<div id="app">
  <ul v-for="quiz in quiz_list">
    <li>{{ quiz.question }}</li>
    <li>{{ quiz.answer }}</li>
    <li>{{ quiz.hint }}</li>
  </ul>
  <h1>아재 모의고사</h1>
  Q. 부부가 산에 올라가면?
  <form action="">
    <input type="text" />
    <button type="submit">정답 확인</button>
    <button>힌트 보기</button>
  </form>
</div>
</body>

<!-- <script src="static/node_modules/vue/dist/vue.link.js"></script>
<script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script> -->
<script src="../static/js/app.js"></script>

</html>
